<div class="navbar">
    <ul class="tab-list">
        <li><a routerLink="/product-management">Quản lý Sản phẩm</a></li>
        <li><a routerLink="/order-management">Quản lý Đơn hàng</a></li>
        <li><a routerLink="/categori-management">Quản lý Danh mục</a></li>

    </ul>
</div>

<form action="" class="add-product-form">
    <div>
        <label for=" title ">Tên Sản phẩm:</label>
        <input type="text " id="title " name="title " required />
    </div>

    <button type="submit ">Thêm Sản phẩm</button>
</form>