@charset "UTF-8";
.header-container {
  height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.header-container > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container__middle {
  flex-grow: 1;
  text-align: center;
}
.header-container__right {
  position: relative;
}
.header-container__right .cart-counter {
  color: #fff;
  background-color: red;
  width: 17px;
  height: 17px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: absolute;
  right: 0px;
  top: 12px;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 24px;
  }
}
.cart-dropdown {
  max-width: 280px;
  min-width: 280px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.cart-dropdown__empty {
  padding: 12px;
  text-align: center;
  font-weight: 500;
}
.cart-dropdown__content {
  padding-top: 12px;
}
.cart-dropdown__content .product-list {
  padding: 0 12px;
  max-height: 180px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}
.cart-dropdown__content .product-list__item {
  padding: 12px 0;
  margin-bottom: 12px;
  cursor: default;
}
.cart-dropdown__content .product-list__item .product-item {
  display: flex;
  position: relative;
  align-items: center;
}
.cart-dropdown__content .product-list__item .product-item__remove {
  top: 4px;
  right: 0px;
  position: absolute;
  border: 1px solid #ccc;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart-dropdown__content .product-list__item .product-item__image > img {
  height: 72px;
  width: 72px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart-dropdown__content .product-list__item .product-item__description {
  margin-left: 12px;
  padding-right: 24px;
}
.cart-dropdown__content .product-list__item .product-item__description .product-name {
  font-size: 1.125rem;
}
.cart-dropdown__content .product-list__item .product-item__description .product-amount > span {
  font-weight: 500;
}
.cart-dropdown__content .cart-info {
  padding: 16px;
}
.cart-dropdown__content .cart-info .selected-amount {
  font-size: 0.875rem;
}
.cart-dropdown__content .cart-info .total-price {
  font-size: 1.25rem;
  font-weight: 500;
}
.cart-dropdown__content .cart-cta {
  display: flex;
  flex-direction: row;
}
.cart-dropdown__content .cart-cta > button {
  width: 100%;
}

.nav-container {
  padding: 16px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
.nav-container > nav > ul {
  display: flex;
}
.nav-container > nav > ul > li {
  cursor: pointer;
  margin-right: 16px;
}

.side-menu {
  width: 285px;
  height: 100vh;
  position: fixed;
  top: 0px;
  padding: 56px 0px 24px;
  transform: translateX(-285px);
  background-color: #fff;
  border-right: 1px solid #ccc;
  transition: all 0.35s ease;
  z-index: 10002;
}
.side-menu > i {
  top: 24px;
  right: 24px;
  position: absolute;
  font-size: 1.25rem;
  cursor: pointer;
}
.side-menu__content {
  height: 100%;
  position: relative;
}
.side-menu__content > h2 {
  padding-left: 24px;
  margin-bottom: 24px;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s;
}
.side-menu__content > h2:hover {
  transform: translateX(16px);
}
.side-menu__content > nav > ul > li {
  outline: none;
  padding: 8px 0 8px 24px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.side-menu__content > nav > ul > li:hover {
  background-color: rgb(236, 236, 236);
}
.side-menu__content .🍑 {
  position: absolute;
  bottom: 0;
  left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-menu__content .🍑 > button {
  margin-bottom: 8px;
  height: 44px;
  width: 236px;
  flex-grow: 1;
  border: 1px solid #ccc;
  background: transparent;
}

.side-menu.show {
  transform: translateX(0);
}

.darken-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.35s ease;
  z-index: 10001;
  pointer-events: none;
}

.darken-background.enable {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}/*# sourceMappingURL=header.component.css.map */